<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MaiMai Shopping</title>
    <style>
        #wrapper{
            width: 800px;
        }
        h1{
            display: inline-block;
        }
        #greeting{
            display: inline-block;
            margin-left: 200px;
        }
        #logout{
            display: inline-block;
        }
        #shoppingcart{
            display: inline-block;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        <h1>MaiMai Shopping </h1>
        <h5 id="greeting">Hello {{user['first_name']}}!</h5>
        <h5 id="logout"><a href="/logout">Logout</a></h5>
        <h5 id="shoppingcart"><a href="/homepage">Keep Shopping</a></h5>

        <p>Thank you for your order! We will send a notification email once the order is ready for shipment.</p>
    </div>
</body>
</html>