<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MaiMai Shopping</title>
</head>
<body>
    <h1>MaiMai Shopping </h1>
    <h2>Hello {{user['first_name']}}!</h2>
    <h5><a href="/logout">Logout</a></h5>
    <h5><a href="/homepage">Keep Shopping</a></h5>

    <p>Thank you for your order! We will send a notification email once the order is ready for shipment.</p>
    
</body>
</html>