<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MaiMai Shopping</title>
</head>
<body>
    <h1>MaiMai Shopping </h1>
    <h5><a href="/">Don't have an account? Register here!</a></h5>
    <form action="/on_login" method="POST" >
        <h3>Login</h3>
        <p>Email: <input type="text" name="em"></p>
        <p>Password: <input type="text" name="pw"></p>
        <input type="submit" value="Login" class="reformatbutton">
    </form>
    
</body>
</html>